ul {
  list-style: none;
}

.navbar {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: larger;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 780px) {
  .hamburger {
    margin-left: 10px;
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #120f0b;
    width: 25px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    font-size: medium;
    justify-content: left;
  }

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 90px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background: #f3f4f6;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    font-size: large;
    margin: 10px 0;
  }
}
